* {
    box-sizing: border-box;
}

html {
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    color: white;

}

body{
    height: 100vh;
    margin: 0;
    background-color: yellow;
    display: flex;
    justify-content: flex-end;

    background:  url(/img/coffee-photo.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    z-index: -1;

    @media screen and (max-width: 774px){
        background-position: -200px center;
    }

    @media screen and (max-width: 540px){
        background-position: -300px center;
    }

    @media screen and (max-width: 774px){
        flex-direction: column;
        background-position: -200px center;
        font-size: 12px;
        .side{
            width: 100vw;
            padding: 0 1rem 3rem 1rem;
        }

        button{
            align-self: center;
            padding: 1.2em;
            background-color: red;
            border-radius: 5%;
            color: beige;
            font-size: 1.2em;
        }
    }
}



.side{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 1rem 10rem 1rem;


    background-color: rgba(196, 63, 22, 0.5);

    @media screen and (min-width: 1200px){
        width: 30rem;
        font-size: 1.2rem;


        
    }

    button{
        align-self: center;
        padding: 1.5em;
        background-color: red;
        border-radius: 5%;
        color: beige;
        font-size: 1.5rem;
    }

    h1{
        font-size: 3em;
        padding: 0 0 1rem 0;
    }
}
