body{
    background-color: white;
}

.row{
    background-color: yellow;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;

}

.card {
    background-color: red;
    padding: 5px;
    margin: 10px;
}