
// variables
@import 'common/variables/colors.scss';

//main
@import 'common/document.scss';
@import 'common/navigation.scss';
@import 'pages/homepage.scss';

* {
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    
}

