$red: #ff0000;
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0;
    height: 100vh;
    width: auto;
    display: grid;
    justify-content: center;
    align-content: center;
}

.dice{
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vmin;
    width: 70vmin;
    background-color:black;
    border-radius: 15%;
    grid-row: 1/2;
    grid-column: 1/2;


    .dotMiddle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }

    .dotTopLeft{
        position: absolute;
        top: 25%;
        left: 25%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }

    .dotTopRight{
        position: absolute;
        top: 25%;
        left: 75%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }

    .dotTopCenter{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }


    .dotBottomRight{
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }

    
    .dotBottomLeft{
        position: absolute;
        top: 75%;
        left: 25%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }

    
    .dotBottomCenter{
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        padding: 7vmin;
        background-color:white;
        border-radius: 50%;
        z-index: 2;
    }

   

}
.buttons{
    display: flex;
    justify-content: center;
    @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        
    }

   

 button{
        margin: 5vmin;
        padding: 3vmin;
        background-color: white;
        border-radius: 10%;

        @media screen and (max-width: 500px) {
            
            width: 100px;
            margin: 10px 0 0 0;
            
            
            
        }
        
        
    }
}
    