$red: #ff0000;
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar{
    margin: 0;
    min-height: 100vh;
    width: 164px;
    transition: 600ms;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: flex-start;
    color:white;

    .sideline{
        margin: 0;
        position: relative;
        background-color: blue;
        text-align: center;
        padding: 0.5rem;

        img{
            max-width: 30px;
            height: auto;
        }
       
    }

    .menu{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: green;
        

        h2{
            margin: 0;
            padding: 1rem;
        }
    
        a{
            padding: 0.2rem 1rem;
            text-decoration: none;
            color: white;
            white-space: nowrap;
        }

    }

   
}

.flex{
    width: 44px;
   
}
main{
    padding: 1rem;
}
