* {
    box-sizing: border-box;
}
html{
    font-family: 'Squada One', cursive;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    background-color: yellow;
}

.background{
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/got-bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    z-index: -1;
}

.text{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 4vw;
    margin: 0;
    
    .first{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
   
}

h1{
    font-size: 5vw;
    padding: 0.5rem;
    font-weight: bold;
}
h2{
    font-size: 3vw;
    padding: 0.5rem;
}

h1,
h2{
    margin: 0;
    color: white;
}