.plot{

    h2{
        padding: 1rem;
        text-align: center;
        color: black;
    }

    .subplot{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        img{
            max-width: 200px;
            margin-right: 1rem;
        }
    }
}

.width{
    max-width: 800px;
    margin: 0 auto;
}

.characters{

    margin: auto 0;

    .images{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;


   
        img{
            width: 7em;
            height: auto;
            border-radius: 50%;
            margin: 0.5rem;

            &:nth-child(1),
            &:nth-child(7){
                width: 5em;

        
        }

            
        }

        
    }
    
}

.cast{

    
}